
:root{
  --text: #000;
  --accent: #22F55D;
  --body: #F9F9F9;
  --white: #fff;
  --red: #FF6C6C;
  --hover-btn: #292929;
  --z-0: 0;
  --z-1: 1;
  --z-2: 2;
  --z-9: 9;
}

body{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: var(--body);
  font-size: 16px;
  overflow-x: hidden;
  min-width: 320px;
  position: relative;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.img{
  display: block;
  max-width: 100%;
  height: auto;
}
.container{
  padding: 0 15px;
  max-width: 420px;
  margin: 0 auto;
}

.flex{
  display: flex;
}
.text-small{
  font-size: 1.5em;
  line-height: 130%;
}
.text-lg{
  font-size: 3.125em;
  line-height: 120%;
}
.title{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 900;
}
.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: inherit;
  border: none;
  cursor: pointer;
  transition: all .2s linear;
}
.btn-outline{
  border: 2px solid var(--text);
}
.btn-small{
  font-size: 1.125em;
  padding: 10px 24px;
  border-radius: 25px;

}
.btn-small:hover{
  border: 2px solid var(--hover-btn);
  color: var(--hover-btn);
}
.btn-primary{
  font-size: 1.5em;
  font-weight: 400;
  background: var(--text);
  border-radius: 60px;
  padding: 22px 66px;
  color: var(--white);
}
.btn-primary:hover{
  background: var(--hover-btn);
}
/*HEADER*/
.top-header{
  min-height: 100svh;
  background: var(--white);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.top-header-wrapper{
  padding-top: 20px;
  position: relative;
}
.top-header-chart{
  padding: 40px 0 35px 0;
  max-height: 300px;
}
.top-header-card .img{
  max-height: 330px;
}
.top-header-text{
  text-align: center;
  padding-bottom: 100px;
}
.top-header-text h1{
  text-transform: uppercase;
  font-size: 32px;
  line-height: 33px;
  font-weight: 900;
}
.top-header-text h1 span{
  display: block;
}
.top-header-text p{
  font-size: 34px;
  line-height: 37px;
  margin: 40px 0;
}
.top-header-text .btn-primary{
  color: var(--text);
  background: var(--accent);
}

/*LIMIT*/
.section-limit{
  margin-top: 82px;
}

.limit-img{
  width: 100%;
}
.limit-img-content{
  position: relative;
  background: url("/image/rectangle.png") no-repeat 100% 100%;
  width: 100%;
  min-height: 503px;
}

.limit-stars{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-2);
}


.ellipse{
  position: absolute;
  left: 13%;
  top: 16%;
  width: 192px;
  height: 192px;
}

.limit-stars .img{
  position: absolute;
}
.limit-star-1{
  right: 10%;
  top: 9%;
  width: 6%;
}
.limit-star-2{
  left: 14%;
  bottom: 20%;
  width: 10%;
}
.limit-star-3{
  top: 17%;
  left: 42%;
  width: 4%;
}
.limit-string{
  position: relative;
  z-index: 9;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  padding-top: 105px;
  margin: 0;
}
.limit-string span{
  display: block;
}
.limit-string span:nth-child(1){
  font-weight: 300;
}
.limit-string span:nth-child(2){
  font-weight: 500;
}
.limit-string span:nth-child(3){
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}
.limit-string span:nth-child(4){
  font-weight: 500;
}
.limit-string span:nth-child(5){
  font-weight: 300;
}

.limit-content{
  text-align: center;
}
.limit-content p{
  font-size: 20px;
  line-height: 26px;
}

/*inflation*/
.inflation{
  padding-top: 82px;
}

.text-content{
  padding-top: 44px;
  text-align: center;
}
.text-content h2{
  font-size: 32px;
  line-height: 33px;
  font-weight: 900;
  text-transform: uppercase;
}
.text-content p{
  font-size: 20px;
  line-height: 26px;
}

/*CASHBACK*/
.cashback-section {
  padding-top: 82px
}


/*footer*/
.footer{
  margin-top: 103px;
}
.footer-wrapper{
  align-items: stretch;
  padding-bottom: 45px;
}
.footer-item{
  display: flex;
  flex-grow: 1;
}
.footer-logo{
  flex-direction: column;
  justify-content: space-between;
}
.footer-policy{
  align-items: center;
  gap: 18px;
  font-size: 1.125em;
}
.footer-nav ul{
  flex-direction: column;
  gap: 21px;
  font-size: 1.125em;
}
.footer-item-action{
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer-item-action .btn{
  flex-direction: column;
  gap: 10px;
  font-size: 1.125em;
}

.footer-item-social{
  justify-content: flex-end;
}
.footer-social ul{
  margin-top: 22px;
  align-items: center;
  gap: 40px;
}

.footer-email{
  display: flex;
  align-items: center;
  justify-content: space-between;
  order: 2;
  width: 100%;
}
.footer-email .btn-outline{
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 60px;
  padding: 22px 32px;
  border: 4px solid var(--text);
}
.btn-outline:hover{
  color: var(--hover-btn);
  border: 4px solid var(--hover-btn);
}
.footer-email p{
  font-size: 1.125em;
  margin: 0;
}


.text-lg{
  font-size: 2.125em;
}

.footer-social ul{
  gap: 20px;
}
.cashback-text{
  padding: 20px;
}



.footer-item-action{
  display: none;
}
.footer-email .btn-outline{
  padding: 17px 26px;
  font-size: 1.125em;
  border: 3px solid var(--text);
}
.footer-wrapper{
  flex-wrap: wrap;
}
.footer-logo{
  order: 5;
  width: 100%;
  margin-top: 30px;
  flex-direction: column-reverse;
  align-items: center;
  gap: 74px;
}
.footer-item-social{
  width: 100%;
  margin-top: 30px;
  order: 4;
  justify-content: center;
}

.btn-primary{
  font-size: 1.125em;
  padding: 17px 50px;
}



.footer-item-nav{
  order: 1;
  width: 100%;
}

.footer-logo .logo img{
  max-width: 380px;
}

.footer-policy{
  text-align: center;
}

.text-small{
  font-size: 1.25em;
  line-height: 130%;
}
.text-lg{
  font-size: 1.25em;
}

.footer-item-social{
  margin-top: 50px;
}
.footer-social{
  width: 100%;
}
.footer-social ul{
  margin-top: 0;
  width: 100%;
  justify-content: space-around;
}
.footer-logo{
  margin-top: 45px;
}
.footer-item-social, .footer-policy{
  display: none;
}
@media  only screen and (max-width: 395px) {
  .top-header-text h1{
    font-size: 29px;
    line-height: 30px;
  }
  .limit-string{
    font-size: 50px;
    line-height: 50px;
  }
  .limit-string span:nth-child(3){
    font-size: 60px;
    line-height: 60px;
  }
  .text-content h2{
    font-size: 29px;
    line-height: 30px;
  }
  .text-content p{
    font-size: 18px;
    line-height: 24px;
  }
}
@media  only screen and (max-width: 375px) {
  .text-content p br{
    display: none;
  }
  .text-content h2 br{
    display: none;
  }
  .footer-email{
    flex-direction: column-reverse;
    gap: 20px;
  }
}